* {
    box-sizing: border-box;
}

body {
    margin: 0px;
}

.header {
    background-color: lightgray;
    text-align: center;
    padding: 5px;
}

.column {
    float: left;
    padding: 10px;
}

.column.side {
    width: 25%;
}

.column.middle {
    width: 75%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width: 600px) {
    .column.side, .column.middle {
        width: 100%;
    }
}

.vertical-menu {
    width: 100%;
}

.vertical-menu a {
    background-color: #eee;
    color: black;
    display: block;
    padding: 12px;
    text-decoration: none;
}

.vertical-menu a:hover {
    background-color: #ccc;
}

.vertical-menu a.active {
    background-color: darkolivegreen;
    color:white;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.conses_tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

.conses_tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

.conses_tab button:hover {
    background-color: #ddd;
}

.conses_tab button.active {
    background-color: #ccc;
}

.conses_tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

.table_message {
    width: 100%;
    border: 1px solid;
    border-collapse: collapse;
}

li {
    padding: 5px;
}